bitarray==2.7.6 ; python_version >= "3.7" and python_version < "4"
cached-property==1.5.2 ; python_version >= "3.7" and python_version < "3.8"
certifi==2023.5.7 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.7" and python_version < "4.0"
cytoolz==0.12.1 ; python_version >= "3.7" and python_version < "4" and implementation_name == "cpython"
eth-abi==3.0.1 ; python_version >= "3.7" and python_version < "4"
eth-account==0.8.0 ; python_version >= "3.7" and python_version < "4"
eth-hash==0.5.2 ; python_version >= "3.7" and python_version < "4"
eth-keyfile==0.6.1 ; python_version >= "3.7" and python_version < "4"
eth-keys==0.4.0 ; python_version >= "3.7" and python_version < "4"
eth-rlp==0.3.0 ; python_version >= "3.7" and python_version < "4"
eth-typing==3.2.0 ; python_version >= "3.7" and python_version < "4"
eth-utils==2.2.0 ; python_version >= "3.7" and python_version < "4"
hexbytes==0.3.1 ; python_version >= "3.7" and python_version < "4"
idna==3.4 ; python_version >= "3.7" and python_version < "4.0"
msgpack-python==0.5.6 ; python_version >= "3.7" and python_version < "4.0"
parsimonious==0.8.1 ; python_version >= "3.7" and python_version < "4"
pycryptodome==3.18.0 ; python_version >= "3.7" and python_version < "4"
requests==2.31.0 ; python_version >= "3.7" and python_version < "4.0"
rlp==3.0.0 ; python_version >= "3.7" and python_version < "4"
six==1.16.0 ; python_version >= "3.7" and python_version < "4"
toolz==0.12.0 ; python_version >= "3.7" and python_version < "4" and (implementation_name == "pypy" or implementation_name == "cpython")
urllib3==1.26.16 ; python_version >= "3.7" and python_version < "4.0"
websocket-client==1.6.1 ; python_version >= "3.7" and python_version < "4.0"
