attrs==23.1.0 ; python_version >= "3.7" and python_version < "4.0"
bitarray==2.7.6 ; python_version >= "3.7" and python_version < "4"
cached-property==1.5.2 ; python_version >= "3.7" and python_version < "3.8"
certifi==2023.5.7 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.7" and python_version < "4.0"
click==8.1.5 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0"
commonmark==0.9.1 ; python_version >= "3.7" and python_version < "4.0"
cytoolz==0.12.1 ; python_version >= "3.7" and python_version < "4" and implementation_name == "cpython"
eth-abi==3.0.1 ; python_version >= "3.7" and python_version < "4"
eth-account==0.8.0 ; python_version >= "3.7" and python_version < "4"
eth-hash==0.5.2 ; python_version >= "3.7" and python_version < "4"
eth-keyfile==0.6.1 ; python_version >= "3.7" and python_version < "4"
eth-keys==0.4.0 ; python_version >= "3.7" and python_version < "4"
eth-rlp==0.3.0 ; python_version >= "3.7" and python_version < "4"
eth-typing==3.2.0 ; python_version >= "3.7" and python_version < "4"
eth-utils==2.2.0 ; python_version >= "3.7" and python_version < "4"
exceptiongroup==1.1.2 ; python_version >= "3.7" and python_version < "3.11"
hexbytes==0.3.1 ; python_version >= "3.7" and python_version < "4"
idna==3.4 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==4.13.0 ; python_version >= "3.7" and python_version < "3.8"
iniconfig==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.7" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.7" and python_version < "4.0"
parsimonious==0.8.1 ; python_version >= "3.7" and python_version < "4"
pluggy==1.2.0 ; python_version >= "3.7" and python_version < "4.0"
pycryptodome==3.18.0 ; python_version >= "3.7" and python_version < "4"
pygments==2.15.1 ; python_version >= "3.7" and python_version < "4.0"
pytest-recording==0.12.2 ; python_version >= "3.7" and python_version < "4.0"
pytest==7.4.0 ; python_version >= "3.7" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.7" and python_version < "4.0"
rich==10.16.2 ; python_version >= "3.7" and python_version < "4.0"
rlp==3.0.0 ; python_version >= "3.7" and python_version < "4"
shellingham==1.5.0.post1 ; python_version >= "3.7" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.7" and python_version < "4"
tomli==2.0.1 ; python_version >= "3.7" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.7" and python_version < "4" and implementation_name == "pypy" or python_version >= "3.7" and python_version < "4" and implementation_name == "cpython"
typer[all]==0.4.2 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.8"
urllib3==1.26.16 ; python_version >= "3.7" and python_version < "4.0"
vcrpy==4.4.0 ; python_version >= "3.7" and python_version < "4.0"
websocket-client==1.6.1 ; python_version >= "3.7" and python_version < "4.0"
wrapt==1.15.0 ; python_version >= "3.7" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.8"
