astroid==2.11.7 ; python_version >= "3.8" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.8" and python_version < "4.0"
bandit==1.7.5 ; python_version >= "3.8" and python_version < "4.0"
bitarray==2.7.6 ; python_version >= "3.8" and python_version < "4"
black==22.12.0 ; python_version >= "3.8" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.8" and python_version < "4.0"
cfgv==3.3.1 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.5 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0"
commonmark==0.9.1 ; python_version >= "3.8" and python_version < "4.0"
coverage-badge==1.1.0 ; python_version >= "3.8" and python_version < "4.0"
coverage==6.5.0 ; python_version >= "3.8" and python_version < "4.0"
coverage[toml]==6.5.0 ; python_version >= "3.8" and python_version < "4.0"
cytoolz==0.12.1 ; python_version >= "3.8" and python_version < "4" and implementation_name == "cpython"
darglint==1.8.1 ; python_version >= "3.8" and python_version < "4.0"
dill==0.3.6 ; python_version >= "3.8" and python_version < "4.0"
distlib==0.3.7 ; python_version >= "3.8" and python_version < "4.0"
dparse==0.6.3 ; python_version >= "3.8" and python_version < "4.0"
eth-abi==3.0.1 ; python_version >= "3.8" and python_version < "4"
eth-account==0.8.0 ; python_version >= "3.8" and python_version < "4"
eth-hash==0.5.2 ; python_version >= "3.8" and python_version < "4"
eth-keyfile==0.6.1 ; python_version >= "3.8" and python_version < "4"
eth-keys==0.4.0 ; python_version >= "3.8" and python_version < "4"
eth-rlp==0.3.0 ; python_version >= "3.8" and python_version < "4"
eth-typing==3.2.0 ; python_version >= "3.8" and python_version < "4"
eth-utils==2.2.0 ; python_version >= "3.8" and python_version < "4"
exceptiongroup==1.1.2 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.12.2 ; python_version >= "3.8" and python_version < "4.0"
gitdb==4.0.10 ; python_version >= "3.8" and python_version < "4.0"
gitpython==3.1.32 ; python_version >= "3.8" and python_version < "4.0"
hexbytes==0.3.1 ; python_version >= "3.8" and python_version < "4"
identify==2.5.24 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
isort==5.11.5 ; python_version >= "3.8" and python_version < "4.0"
isort[colors]==5.11.5 ; python_version >= "3.8" and python_version < "4.0"
lazy-object-proxy==1.9.0 ; python_version >= "3.8" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.8" and python_version < "4.0"
msgpack==1.0.5 ; python_version >= "3.8" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.8" and python_version < "4.0"
mypy-extensions==0.4.4 ; python_version >= "3.8" and python_version < "4.0"
mypy==0.930 ; python_version >= "3.8" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.8" and python_version < "4.0"
parsimonious==0.8.1 ; python_version >= "3.8" and python_version < "4"
pathspec==0.11.1 ; python_version >= "3.8" and python_version < "4.0"
pbr==5.11.1 ; python_version >= "3.8" and python_version < "4.0"
platformdirs==3.9.1 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
pre-commit==2.21.0 ; python_version >= "3.8" and python_version < "4.0"
pycryptodome==3.18.0 ; python_version >= "3.8" and python_version < "4"
pydocstyle==6.3.0 ; python_version >= "3.8" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.8" and python_version < "4.0"
pylint==2.13.9 ; python_version >= "3.8" and python_version < "4.0"
pytest-cov==4.1.0 ; python_version >= "3.8" and python_version < "4.0"
pytest-recording==0.12.2 ; python_version >= "3.8" and python_version < "4.0"
pytest==7.4.0 ; python_version >= "3.8" and python_version < "4.0"
pyupgrade==2.38.4 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
rich==10.16.2 ; python_version >= "3.8" and python_version < "4.0"
rlp==3.0.0 ; python_version >= "3.8" and python_version < "4"
safety==1.10.3 ; python_version >= "3.8" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4"
smmap==5.0.0 ; python_version >= "3.8" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "4.0"
stevedore==3.5.2 ; python_version >= "3.8" and python_version < "4.0"
tokenize-rt==4.2.1 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
toolz==0.12.0 ; python_version >= "3.8" and python_version < "4" and implementation_name == "pypy" or python_version >= "3.8" and python_version < "4" and implementation_name == "cpython"
typing-extensions==4.7.1 ; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.16 ; python_version >= "3.8" and python_version < "4.0"
vcrpy==4.4.0 ; python_version >= "3.8" and python_version < "4.0"
virtualenv==20.21.1 ; python_version >= "3.8" and python_version < "4.0"
websocket-client==1.6.1 ; python_version >= "3.8" and python_version < "4.0"
wrapt==1.15.0 ; python_version >= "3.8" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.8" and python_version < "4.0"
