interactions:
- request:
    body: '{"type": "l2Book", "coin": "DYDX"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"coin":"DYDX","levels":[[{"n":1,"px":"1.9844","sz":"360.5"},{"n":1,"px":"1.9836","sz":"5740.8"},{"n":2,"px":"1.9826","sz":"12200.8"},{"n":1,"px":"1.9821","sz":"140.0"},{"n":1,"px":"1.9808","sz":"5314.3"},{"n":1,"px":"1.9804","sz":"6213.0"},{"n":1,"px":"1.9802","sz":"359.3"},{"n":1,"px":"1.9794","sz":"5339.6"},{"n":1,"px":"1.9784","sz":"6303.3"},{"n":1,"px":"1.976","sz":"6040.7"},{"n":1,"px":"1.9755","sz":"5583.9"},{"n":1,"px":"1.9746","sz":"5755.4"},{"n":1,"px":"1.9727","sz":"6032.7"},{"n":1,"px":"1.9718","sz":"6089.2"},{"n":1,"px":"1.9713","sz":"5706.0"},{"n":1,"px":"1.9694","sz":"5524.8"},{"n":1,"px":"1.9685","sz":"6029.6"},{"n":1,"px":"1.9679","sz":"6002.4"},{"n":1,"px":"1.9678","sz":"5727.3"},{"n":1,"px":"1.9677","sz":"6214.0"}],[{"n":2,"px":"1.9849","sz":"722.8"},{"n":2,"px":"1.9857","sz":"11745.3"},{"n":1,"px":"1.9867","sz":"5902.4"},{"n":1,"px":"1.987","sz":"6298.9"},{"n":1,"px":"1.9872","sz":"5861.3"},{"n":1,"px":"1.9889","sz":"6196.0"},{"n":1,"px":"1.9892","sz":"5495.8"},{"n":1,"px":"1.9921","sz":"5592.5"},{"n":1,"px":"1.9924","sz":"5794.2"},{"n":1,"px":"1.9933","sz":"5754.4"},{"n":1,"px":"1.9938","sz":"6318.0"},{"n":1,"px":"1.9966","sz":"6314.4"},{"n":1,"px":"1.9972","sz":"6336.3"},{"n":1,"px":"1.9973","sz":"5453.7"},{"n":1,"px":"1.9981","sz":"5777.1"},{"n":1,"px":"1.9999","sz":"5695.7"},{"n":1,"px":"2.0006","sz":"6191.9"},{"n":1,"px":"2.0016","sz":"5718.2"},{"n":1,"px":"2.0091","sz":"5584.2"},{"n":1,"px":"2.0118","sz":"5376.1"}]],"time":1684982303887}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
