interactions:
- request:
    body: '{"type": "openOrders", "user": "0x5e9ee1089755c3435139848e47e6635505d5a13a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"coin":"MATIC","limitPx":"1.0357","oid":62269971,"side":"B","sz":"208.7","timestamp":1679940217356},{"coin":"ARB","limitPx":"1.1795","oid":62269969,"side":"A","sz":"173.7","timestamp":1679940216844},{"coin":"ARB","limitPx":"1.1794","oid":62269967,"side":"B","sz":"107.2","timestamp":1679940216844},{"coin":"BNB","limitPx":"306.75","oid":62269966,"side":"B","sz":"0.303","timestamp":1679940216481},{"coin":"SOL","limitPx":"19.704","oid":62269956,"side":"A","sz":"8.45","timestamp":1679940215811},{"coin":"SOL","limitPx":"19.703","oid":62269955,"side":"B","sz":"4.7","timestamp":16799402[...]
