interactions:
- request:
    body: '{"type": "meta"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"universe":[{"name":"BTC","szDecimals":5},{"name":"ETH","szDecimals":4},{"name":"ATOM","szDecimals":2},{"name":"MATIC","szDecimals":1},{"name":"DYDX","szDecimals":1},{"name":"SOL","szDecimals":2},{"name":"AVAX","szDecimals":2},{"name":"BNB","szDecimals":3},{"name":"APE","szDecimals":1},{"name":"OP","szDecimals":1},{"name":"LTC","szDecimals":2},{"name":"ARB","szDecimals":1}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
