[
    {
        "comment": "signer 1",
        "secret_key": "",
        "account_address": ""
    },
    {
        "comment": "signer 2",
        "secret_key": "",
        "account_address": ""
    }
]
