interactions:
- request:
    body: '{"type": "historicalOrders", "user": "0x31ca8395cf837de08b24da3f660e77761dfb974b"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"order": {"coin": "TON", "side": "B", "limitPx": "3.2502", "sz":
        "81.7", "oid": 141682155424, "timestamp": 1755863118217, "triggerCondition":
        "N/A", "isTrigger": false, "triggerPx": "0.0", "children": [], "isPositionTpsl":
        false, "reduceOnly": false, "orderType": "Limit", "origSz": "81.7", "tif":
        "Ioc", "cloid": null}, "status": "iocCancelRejected", "statusTimestamp": 1755863118217},
        {"order": {"coin": "ORDI", "side": "B", "limitPx": "8.6328", "sz": "3.15",
        "oid": 141682155423, "timestamp": 1755863118217, "triggerCondition": "N/A",
        "isTrigger": false, "triggerPx": "0.0", "children": [], "isPositionTpsl":
        false, "reduceOnly": false, "orderType": "Limit", "origSz": "3.15", "tif":
        "Ioc", "cloid": null}, "status": "iocCancelRejected", "statusTimestamp": 1755863118217},
        {"order": {"coin": "GRIFFAIN", "side": "B", "l[...]
