interactions:
- request:
    body: '{"type": "meta"}'
    headers:
      Content-Type:
        - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"universe":[{"maxLeverage":50,"name":"BTC","szDecimals":5},{"maxLeverage":50,"name":"ETH","szDecimals":4},{"maxLeverage":50,"name":"ATOM","szDecimals":2},{"maxLeverage":50,"name":"MATIC","szDecimals":1},{"maxLeverage":50,"name":"DYDX","szDecimals":1},{"maxLeverage":50,"name":"SOL","szDecimals":2},{"maxLeverage":50,"name":"AVAX","szDecimals":2},{"maxLeverage":50,"name":"BNB","szDecimals":3},{"maxLeverage":50,"name":"APE","szDecimals":1},{"maxLeverage":50,"name":"OP","szDecimals":1},{"maxLeverage":50,"name":"LTC","szDecimals":2},{"maxLeverage":50,"name":"ARB","szDecimals":1},{"maxLeverage":50,"name":"DOGE","szDecimals":0},{"maxLeverage":50,"name":"INJ","szDecimals":1},{"maxLeverage":50,"name":"SUI","szDecimals":1},{"maxLeverage":50,"name":"kPEPE","szDecimals":0},{"maxLeverage":50,"name":"CRV","szDecimals":1},{"maxLeverage":50,"name":"LDO","szDecimals":1},{"maxLeverage":50,"name":"LINK","szDecimals":1},{"maxLeverage":50,"name":"STX","szDecimals":1},{"maxLeverage":50,"name":"RNDR","szDecimals":1},{"maxLeverage":50,"name":"CFX","szDecimals":0},{"maxLeverage":50,"name":"FTM","szDecimals":0},{"maxLeverage":50,"name":"GMX","szDecimals":2},{"maxLeverage":50,"name":"SNX","szDecimals":1},{"maxLeverage":50,"name":"XRP","szDecimals":0},{"maxLeverage":50,"name":"BCH","szDecimals":3},{"maxLeverage":50,"name":"APT","szDecimals":2}]}'
    headers:
      content-type:
        - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "fundingHistory", "coin": "BTC", "startTime": 1681923833000}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"coin":"BTC","fundingRate":"-0.00061334","premium":"-0.00091334","time":1683849600048},{"coin":"BTC","fundingRate":"-0.00074503","premium":"-0.00104503","time":1683878400388},{"coin":"BTC","fundingRate":"-0.00081798","premium":"-0.00111798","time":1683907200253},{"coin":"BTC","fundingRate":"-0.00044036","premium":"-0.00074036","time":1683936000278},{"coin":"BTC","fundingRate":"-0.00010343","premium":"-0.00040343","time":1683964800255},{"coin":"BTC","fundingRate":"-0.00013803","premium":"-0.00043803","time":1683993600054},{"coin":"BTC","fundingRate":"-0.0002227","pre[...]
