interactions:
- request:
    body: '{"type": "spotMetaAndAssetCtxs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: "[{\"universe\":[{\"tokens\":[1,0],\"name\":\"PURR/USDC\",\"index\":0,\"isCanonical\":true},{\"tokens\":[2,0],\"name\":\"@1\",\"index\":1,\"isCanonical\":false},{\"tokens\":[3,0],\"name\":\"@2\",\"index\":2,\"isCanonical\":false},{\"tokens\":[4,0],\"name\":\"@3\",\"index\":3,\"isCanonical\":false},{\"tokens\":[5,0],\"name\":\"@4\",\"index\":4,\"isCanonical\":false},{\"tokens\":[6,0],\"name\":\"@5\",\"index\":5,\"isCanonical\":false},{\"tokens\":[7,0],\"name\":\"@6\",\"index\":6,\"isCanonical\":false},{\"tokens\":[8,0],\"name\":\"@7\",\"index\":7,\"isCanonical\":false},{\"tokens\"[...]
