interactions:
- request:
    body: '{"type": "extraAgents", "user": "0xd42f2bB0e06455eDB652e27b7374FC2bDa8448ee"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[{"name":"ok","address":"0x286edfa08c04f6899dab3bfdecf2dd133f9733b9","validUntil":1767776120478},{"name":"new","address":"0xc06e6617005c1888aeb8b3017fe00f82b7b84fc0","validUntil":1771174068515}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
