interactions:
- request:
    body: '{"type": "clearinghouseState", "user": "0x5e9ee1089755c3435139848e47e6635505d5a13a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '{"assetPositions":[{"position":{"coin":"BTC","entryPx":"26951.0","leverage":{"type":"cross","value":20},"liquidationPx":"173198.69592357","marginUsed":"10.582271","maxTradeSzs":["0.76534","0.74964"],"positionValue":"211.64542","returnOnEquity":"-0.00756643","szi":"-0.00785","unrealizedPnl":"-0.08007"},"type":"oneWay"},{"position":{"coin":"ETH","entryPx":"1705.82","leverage":{"type":"cross","value":20},"liquidationPx":null,"marginUsed":"11.383755","maxTradeSzs":["11.8423","12.1091"],"positionValue":"227.675114","returnOnEquity":"0.01042942","szi":"0.1334","unrealizedPnl":"0.118726"},"type":"oneWay"},{"position":{"coin":"ATOM","entryPx":"10.787","leverage":{"type":"cross","value":20},"liquidationPx":"2561.83187333","marginUsed":"0.243","maxTradeSzs":["1872.32","1871.42"],"positionVa[...]
