interactions:
- request:
    body: '{"type": "portfolio", "user": "0x31ca8395cf837de08b24da3f660e77761dfb974b"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid.xyz/info
  response:
    body:
      string: '[["day",{"accountValueHistory":[[1755772320063,"160794563.9261809886"],[1755780720022,"160690871.9162580073"],[1755787920035,"160763788.1605669856"],[1755796320063,"160613356.0741429925"],[1755803520077,"160737760.932761997"],[1755811920001,"160692369.4752059877"],[1755819120055,"160639716.5990310013"],[1755827520019,"160696850.102203995"],[1755835920039,"160744845.0477769971"],[1755844320043,"160775120.1650849879"],[1755852720035,"160805146.2730619907"],[1755859920046,"160715198.4108670056"],[1755863121304,"160664370.477425009"]],"pnlHistory":[[1755772320063,"0.0"],[1755780720022,"-103692.009923"],[1755787920035,"-30775.765614"],[1755796320063,"-181207.852038"],[1755803520077,"-56802.993419"],[1755811920001,"-102194.450975"],[1755819120055,"-154847.32715"],[1755827520019,"-97713.823977"],[1755835920039,"-49718.878404"],[1755844320043,"-19443.761096"],[1755852720035,"10582.346881"],[1755859920046,"-79365.515314"],[1755863121304,"-130193.448756"]],"vlm":"55823015.6599999964"}],["week",{"accountValueHistory":[[1755243120022,"145534591.1500999928"],[1755258720011,"145504022.3859150112"],[1755265920011,"145369756.5914019942"],[1755280320058,"145190364.9276959896"],[1755287520069,"145084990.1121230125"],[1755295920067,"145167542.6381410062"],[1755311520128,"145234721.584758997"],[1755319920032,"145253832.4371359944"],[1755328320004,"145205409.4436089993"],[1755342720091,"145189893.7279900014"],[1755351120000,"145215665.8980439901"],[1755366720022,"[...]
